*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(18, 22, 32);
    scroll-behavior: smooth;
}

.header{
    z-index: 8;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    font-family: 'Figtree', sans-serif;
    font-weight: 200;
}
.header.sticky{
    background: rgba(18, 23, 33, 0.952);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.header li{
    list-style: none;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
    font-weight: 200;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}



.navlogo img{
    display: flex;
    align-items: center;
    width: 170px;
    height: auto;
    z-index: 10;
}

.navlink{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 0.2px;

}
.navlink::before{
    transition: 0.3s ease;
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    height: 1px;
    width: 0;
    left: 50%;
    right: 50%;
    bottom: -3px;
    background: #ef321e;
}
.navlink:hover::before{
    width: 100%;
    background: #ef321e;
    left: 0;
    right: 0;
    opacity: 1;

}


.page{
    height: 100vh;
    width: 100%;
}

.icon{
    display: none;
}

@media(max-width: 700px) {

    .navlink span {
        display: none;
    }

    .icon{
        display: flex;
        color: white;
    }
    ion-icon{
        height: 20px;
        width: 20px;
    }

    .navlink:hover{
        color: #ef321e;
    }
}

.background-picture img{
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.picture-center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-family: 'Figtree', sans-serif;
}

.title h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: #ef321e;
}
.title h2{
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: lighter;
}
.title h3{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 30px;
}


@media(max-width: 610px) {

    .title h3{
        font-size: 20px;
    }
}
@media(max-width: 430px) {

    .title h3{
        font-size: 17px;
    }
}




/* film-titel */
#film-bibliothek{
    min-height: 100vh;
    padding: 0 calc(3.5vw + 24px);
    background: rgb(18, 22, 32);
}

.category-title h3{
    color: white;
    font-size: 25px;
    font-weight: light;
    font-family: 'Figtree', sans-serif;
    padding: 70px 0 20px 0 ;
}


/* film-bibliothek */
.movies{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 0.75em;
}

.movie img:hover{
    outline: solid 2px white;
    border-radius: 5px;
    transform: scale(1.03);
}

.movie img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}


@media screen and (min-width: 150px){
    .movies{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width: 350px){
    .movies{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 650px){
    .movies{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 950px){
    .movies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (min-width: 1470px) {

    .movies{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}

@media screen and (min-width: 2200px){
    .movies{
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }
}


/* scrollbar */

::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track{
    background: rgb(50, 62, 85);
}
::-webkit-scrollbar-thumb{
    background: rgb(255, 0, 0);
    border-radius: 10px;

}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: rgb(11, 14, 20);
    font-family: 'Figtree', sans-serif;
}

.main-footer p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.main-footer a{
    color: rgb(103, 103, 255);
    margin: 0px 15px 0px 15px;
    text-decoration: none;
}
.main-footer a:hover{
    text-decoration: underline;
}
#footer-link{
    margin-left: 5px;
}

.footer-logo img{

    width: 150px;
    height: auto;
}
.footer-logo{
    display: flex;
    justify-content: center;
}

/* Marking colour */
::selection {
    background-color: rgb(255, 0, 0);
    color: #ffffff; 
}

/* Firefox selection */
::-moz-selection {
    background-color:rgb(255, 0, 0);
    color: #ffffff;
}

/* Search */
.search-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input-container{
    margin-top: 70px;
    width: 100%;
    height: 70px;
}

.search-input{
    width: 100%;
    height: 70px;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}
.search-input::placeholder{
    font-size: 60px;
    display: flex;
    justify-content: center;
    line-height: 100px;
}

.search-input {
    width: 100%;
    font-size: 50px;
    height: 0px;
    height: 80px;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    font-weight: normal;
    background-color: rgb(27, 34, 46);
    color: rgb(118, 146, 192);
    padding-left: 50px;
}

.search-input::placeholder {
    font-size: 50px;
    line-height: normal;
    font-family: 'Figtree', sans-serif;
    font-weight: normal;
}

.search-input:focus {
    outline: 2px solid rgb(44, 55, 75);
    outline-offset: -2px; 
}

