*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(18, 22, 32);
    scroll-behavior: smooth;
}

.header{
    z-index: 8;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    font-family: 'Figtree', sans-serif;
    font-weight: 200;
}
.header.sticky{
    background: rgba(18, 23, 33, 0.952);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.header li{
    list-style: none;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navlogo img{
    display: flex;
    align-items: center;
    width: 170px;
    height: auto;
    z-index: 10;
}

.navlink{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 0.2px;

}
.navlink::before{
    transition: 0.3s ease;
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    height: 1px;
    width: 0;
    left: 50%;
    right: 50%;
    bottom: -3px;
    background: #ef321e;
}
.navlink:hover::before{
    width: 100%;
    background: #ef321e;
    left: 0;
    right: 0;
    opacity: 1;

}


.page{
    height: 100vh;
    width: 100%;
}

.profile{ 
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.icon{
    display: none;
}

@media(max-width: 700px) {

    .navlink span {
        display: none;
    }

    .icon{
        display: flex;
        color: white;
    }
    ion-icon{
        height: 20px;
        width: 20px;
    }

    .navlink:hover{
        color: #ef321e;
    }
}

.background-picture img{
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.picture-center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-family: 'Figtree', sans-serif;
}

.title h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: #ef321e;
}
.title h2{
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: lighter;
}
.title h3{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 30px;
}

@media(max-width: 610px) {

    .title h3{
        font-size: 20px;
    }
}
@media(max-width: 430px) {

    .title h3{
        font-size: 17px;
    }
}



/* sub-menu */

.sub-menu-wrap{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s ease-in;
    border-radius: 5px;
}


.sub-menu-wrap.menu-open{
    max-height: 400px;
}

.sub-menu{
    background: rgb(11, 14, 20);
    padding: 20px;
}
.user-info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.user-info h6{
    color: white;
    font-size: 20px;
    margin-top: -15px;
    display: flex;
    align-items: center;
}
.sub-menu-wrap hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(65, 65, 65);
    margin-top: 20px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link:hover p{
    font-weight: 800;
}
.sub-menu-link ion-icon{
    height: 28px;
    width: 28px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    font-family: 'Figtree', sans-serif;
    transition: 0.2s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: rgb(11, 14, 20);
    font-family: 'Figtree', sans-serif;
}

.main-footer p{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.main-footer a{
    color: rgb(103, 103, 255);
    margin: 0px 15px 0px 15px;
    text-decoration: none;
}
.main-footer a:hover{
    text-decoration: underline;
}
#footer-link{
    margin-left: 5px;
}

.footer-logo img{

    width: 150px;
    height: auto;
}
.footer-logo{
    display: flex;
    justify-content: center;
}



/* scrollbar */

::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track{
    background: rgb(50, 62, 85);
}
::-webkit-scrollbar-thumb{
    background: rgb(255, 0, 0);
    border-radius: 10px;

}


/* Front-Main */

.main{
    height: 100vh;
    width: 100%;
    display: flex;
}

.about-movie-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-left: 50px;
}

.movie-logo img{
    height: auto;
    width: 253px;
}




.movie-banner img {
    width: 100%;
    max-height: 91vh;
    object-fit: cover;
    position: absolute;
    z-index: -2;
}


.content{
    width: 100%;
    height: 100vh;
}


@media (max-width: 1014px) {
    .about-movie-content{
        height: 80vh;
        margin-left: 50px;
    }
}

@media (max-width: 814px) {
    .about-movie-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin-left: 0px;
    }

    .description p{
        display: flex;
        text-align: center;
        padding: 0px 10%;
    }

    .movie-logo img{
        height: auto;
        width: 153px;
    }
    

}

.info{
    margin: 15px 0px;
}

.info small{
    color: white;
    font-family: 'Figtree', sans-serif;

}

.trailer-button {
    height: 55px;
    width: 120px;
    border: 1px solid white;
    border-radius: 3px;
    background: rgb(25, 28, 36);
    font-size: 16px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}
.trailer-button:hover {
    color: rgb(25, 28, 36);
    background: white;
}

.description p{
    margin-top: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Figtree', sans-serif;
}

.page{
    height: 100vh;
    width: 100%;
}


.cr{
    margin-top: 10px;
}
.cr small{
    font-family: 'Figtree', sans-serif;
    color: rgb(255, 255, 255);
}

